[main]
    certname = {{ HostName.stdout }}
    environment = {{ environnement }}
    rundir = /var/run/puppetlabs
    server = {{ puppet_server_name }}
    ssldir = /etc/puppetlabs/puppet/ssl
    runinterval = {{ runinterval }}
